.container{
    max-width: 984px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    
}

@media ( max-width:768px) {
 .place{
    max-width: 720px;
 }
}
@media (max-width:320px) {
 .place{
    max-width: 320px;
 }
}