.logo {
  max-width: 254px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .logo {
    margin-top: 30px;
  }
}

@media (max-width: 320px) {
  .logo {
    max-width: 188px;
    margin-top: 20px;
    display: flex;
  }
}
