.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  max-width: 1184px;
  margin: 0 auto;
  margin-top: 118px;
  left: 48px;
}

@media (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 720px;
    margin-top: 64px;
    left: 24px;
  }
  .photo-grid__image {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .photo-grid {
    max-width: 288px;
    margin-top: 38px;
    left: 16px;
  }
  .photo-grid__image {
    width: 100%;
  }
}
